<!--<h1>My Product</h1>-->
<!--<input *ngIf="!isDisabled" type="text" [(ngModel)]="productName" >-->
<!--<br><br>-->
<!--<button (click)="productName = 'A Flower'" [disabled]="isDisabled">Change Name</button>-->
<!--<br><br>-->
<!--<button *ngIf="!isDisabled" (click)="onAddProduct()">Add a product</button>-->
<!--<br><br>-->
<!--<app-product (productClicked)="onRemoveProduct(product)" *ngFor="let product of products" [productName]="product"></app-product>-->
<!--&lt;!&ndash;<div *ngFor="let product of products">&ndash;&gt;-->
<!--&lt;!&ndash;  {{ product }}&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<h1>My Product</h1>
<form (ngSubmit)="onAddProduct(f)" #f="ngForm">
  <input type="text" ngModel name="productName" required>
  <button type="submit">Add a product</button>
</form>

<app-product (productClicked)="onRemoveProduct(product)" *ngFor="let product of products" [productName]="product"></app-product>
<!--<div *ngFor="let product of products">-->
<!--  {{ product }}-->
<!--</div>-->
